*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 70%;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
h1, h2, p{
	padding: 10px;
}
h1, h2{
	font-size: 3em;
	font-weight: normal;
}
header, article, footer{
	border: 5px solid white;
	text-align: center;
	color: white;
}
header{
	background-color: skyblue;
}
div{
	display: flex;
}
.left{
	order: 1;
	height: 500px;
	flex-basis: 25%;
}
.hero{
	flex-grow: 1;
	background-color: #c99ec9;
}
.sidebar{
	flex-grow: 2;
	background-color: #5eb15e;
}
.right{
	order: 2;
	height: 500px;
	flex-basis: 75%;
}
.main{
	flex-grow: 2;
	background-color: #d79723;
}
.extra{
	flex-grow: 1;
	background-color: #837f7f;
}
.images, .posts, .right, .left{
	flex-direction: column;
}
.images{
	order: 1;
	flex-basis: 75%;
	background-color: green;
}
.posts{
	order: 2;
	flex-basis: 25%;
	background-color: pink;
}
footer{
	background-color: orange;
}