*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 70%;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	position: relative;
}
h1, h2, p{
	padding: 10px;
}
h1, h2{
	font-size: 3em;
	font-weight: normal;
}
header, article, footer{
	border: 5px solid white;
	text-align: center;
	color: white;
}
header, footer{
	height: 100px;
}
header{
	background-color: skyblue;
}
.left{
	float: left;
	width: 40%;
}
.hero{
	height: 250px;
	background-color: #c99ec9;
}
.sidebar{
	height: 350px;
	background-color: #5eb15e;
}
.right{
	width: 60%;
	float: right;
}
.main{
	height: 400px;
	background-color: #d79723;
}
.extra{
	height: 200px;
	background-color: #837f7f;
}
.images, .posts{
	height: 150px;
}
.images{
	float: left;
	width: 75%;
	background-color: green;
}
.posts{
	float: right;
	width: 25%;
	background-color: pink;
}
footer{
	background-color: orange;
}